/* ---------- General ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --main: #8C96B6;
  --titles: #CCD6F6;
  --accent: #86FFE9;
  --subtle: #273659;
  --background-lighter: #17223E;
  --background: #11192E;
  --background-darker: #0D1424D2;
}

html {
  overflow-x: hidden;
  font-size: 60%;
}

body {
  background-color: var(--background);
  color: var(--main);

  font-size: 2.5rem;
  font-family: "NTR", serif;
}

::selection {
  background: #4a8c96;
  color: var(--background);
}

::-webkit-scrollbar {
  background: var(--background-darker);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 10px;
}

a {
  color: inherit;
}

/* ---------- Nav Bar ---------- */
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-cv-button {
  position: fixed !important;
  top: 2.3rem;
  left: 2rem;

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--accent) !important;
  border: 2px solid var(--accent) !important;
  border-radius: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0rem 2rem !important;
  background-color: transparent;
  white-space: nowrap;
  max-width: fit-content;

  cursor: pointer;
  z-index: 1050;

  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.nav-cv-button:hover {
  background-color: var(--accent);
  color: var(--background) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 2rem 14%;
  background-color: var(--background-darker);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  user-select: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1.3rem;
}

nav ul li a {
  color: var(--titles);
  text-decoration: none;
  font-size: 2.3rem;
  font-weight: 700;
  position: relative;
  -webkit-user-drag: none;
  opacity: 0;
  transition: 0.3 ease-in-out;
  animation: fadeInSlideDown 0.5s ease-in-out forwards;
  animation-fill-mode: forwards;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--accent);
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--accent);
  position: absolute;
  left: 50%;
  bottom: +6px;
  transform: translateX(-50%);
  transition: width 0.3s ease-out;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

#menu-icon {
  color: var(--titles);
  font-size: 3.5rem;
  display: none;
}

.nav-cv-button {
  display: inline-block;
  position: absolute;
  right: 4rem;
  transform: translateY(-3px);
  background-color: transparent;
  color: var(--titles);
  font-size: 2.3rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav-cv-button:hover {
  color: var(--accent);
}

nav ul li:nth-child(1) a {
  animation-delay: 1.2s;
}

nav ul li:nth-child(2) a {
  animation-delay: 1.4s;
}

nav ul li:nth-child(3) a {
  animation-delay: 1.6s;
}

nav ul li:nth-child(4) a {
  animation-delay: 1.8s;
}

nav ul li:nth-child(5) a {
  animation-delay: 2s;
}

/* ---------- home ---------- */
section {
  min-height: 100vh;
  padding: 10rem 25%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.home-text .hidden-ph {
  height: 20rem;
  width: 43.5rem;
}

.home-text .gray {
  color: var(--titles);
  font-family: "Inter", serif;
  margin-top: 1.5rem;
}

.home-text .aqua {
  color: var(--accent);
  font-family: "Inter", serif;
  text-wrap: nowrap;
}

.home-text .gray, .home-text .aqua {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  text-wrap: nowrap;
}

#intro {
  font-size: 2.5rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#same-line {
  display: inline-block;
  margin: 1rem o;
}

.home-img{
  border-radius: 50%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  user-select: none;
  -webkit-user-drag: none;
}

.home-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--accent);
  transition: 0.2s ease-in-out;
  max-width: 60rem;
}

.home-img img:hover{
  box-shadow: 0 0 15px var(--accent),
              0 0 50px var(--accent);
  transform: scale(1.05);
}

/* ---------- Blinking cursor ---------- */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking-cursor {
  display: inline;
  animation: blink 1s step-start infinite;
  color: var(--titles);
  font-size: 80px;
  line-height: 1;
  user-select: none;
}

/* ---------- Buttons ---------- */
@keyframes FadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

@keyframes highlightGlow {
  0% { box-shadow: 0 0 10px rgba(134, 255, 233, 0);}
  50% { box-shadow: 0 0 25px rgba(134, 255, 233, 1);}
  100% { box-shadow: 0 0 10px rgba(134, 255, 233, 0);}
}

.highlight-effect {
  position: relative;
}

.highlight-effect::before {
  content: " ";
  position: absolute;
  inset: 0 -3rem;
  border-radius: 50px;
  padding: 0 3rem;
  opacity: 1;
  animation: highlightGlow 1s ease-in-out infinite alternate;
}

.highlight-effect.active::before {
  opacity: 1;
  animation: highlightGlow 1 s ease-in-out infinite alternate;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  user-select: none;
  -webkit-user-drag: none;
}

.CV-button a{
  text-decoration: none;
  display: inline-flex;
  color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 40px;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 0.3rem 2rem;
  text-wrap: nowrap;
  user-select: none;
  -webkit-user-drag: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  font-size: 2rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid var(--accent);
  border-radius: 50%;
  color: var(--accent);
  margin: 3rem 0.5rem;
  -webkit-user-drag: none;
}

.CV-button a, .social-icons a {
  opacity: 0;
  animation: FadeIn 0.5s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.CV-button a:hover, .social-icons a:hover {
  background-color: var(--accent);
  color: var(--background);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.buttons-container .CV-button a{
  animation-delay: 2.2s;
}

.buttons-container .social-icons a:nth-child(1) {
  animation-delay: 2.4s;
}

.social-icons a:nth-child(2) {
  animation-delay: 2.6s;
}

.social-icons a:nth-child(3) {
  animation-delay: 2.8s;
}

/* ---------- Sections ---------- */
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  gap: 2rem;
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.section-text {
  color: var(--titles);
  font-size: 5rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--titles);
}

/* ---------- About ---------- */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 250rem;
  margin: 0 auto;
}

.facts {
  list-style: none;
}

.facts li .point {
  display: block;
}

.facts li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.facts li span.highlight {
  color: var(--titles);
  font-weight: bold;
  transition: color 0.3s ease;
  display: inline;
  line-height: inherit;
}

.facts li i {
  align-self: flex-start;
  font-size: inherit;
  line-height: inherit;
}

.facts li.animate {
  animation: FadeInSlideUp 0.5s ease-in forwards;
}

@keyframes FadeInSlideUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.connect-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  color: var(--accent);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.connect-container.animate {
  animation: FadeInSlideUp 0.5s ease forwards;
  opacity: 1;
}

.connect-button {
  display: inline-flex;
  color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 40px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 0.3rem 2rem;
  transition: all 0.5s ease;
  text-wrap: nowrap;
  user-select: none;
  -webkit-user-drag: none;
}

.connect-button:hover {
  background-color: var(--accent);
  color: var(--background);
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: translateY(-5px);
}

/* ---------- Experience ---------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230rem;
  margin: 0 auto;
}

.tabbed-interface {
  display: flex;
  gap: 2rem;
}

.tabs {
  justify-content: right;
  width: 13rem;
  max-width: 13rem;
  min-width: 13rem;
  user-select: none;
  -webkit-user-drag: none;
}

.tab {
  background: none;
  width: 100%;
  color: var(--titles);
  font-size: 2.5rem;
  font-family: "NTR", serif;
  text-align: left;
  border-left: 1px solid var(--main);
}

.tab:hover,
.tab.active {
  color: var(--accent);
  font-weight: bold;
}

.tab:hover {
  background-color: var(--subtle); 
}

.tab.active {
  border-left: 3px solid var(--accent);
}

.tab-content {
  display: none;
  flex-grow: 1;
  color: var(--main);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  min-height: 380px;
}

.tab-content.active {
  display: block;
  animation: fadeIn 0.3s ease-in-out forwards;
  flex-grow: 1;
}

h3 {
  color: var(--titles);
  line-height: 1;
  font-size: 3.3rem;
}

.date {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.exp-points {
  list-style: none;
}

.exp-points li .point {
  display: block;
}

.exp-points li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.exp-points li i {
  align-self: flex-start;
  font-size: inherit;
  line-height: inherit;
}

/* ---------- Projects ---------- */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250rem;
  margin: 0 auto;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 20px;
  row-gap: 20px;
  justify-items: center;
  padding-bottom: 3rem;
}

.project-card {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-color: var(--background-lighter);
  border-radius: 2rem;
  gap: 1rem;
  padding: 2rem 3rem;
  transition: 0.3s ease;
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
}

.project-card .proj-btn-container {
  color: var(--accent);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 3px rgba(13, 20, 36, 0.2),
              0 5px 1px rgba(13, 20, 36, 0.3),
              0 15px 5px rgba(13, 20, 36, 0.1);
}

.project-card:hover .proj-btn-container {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}
.project-card:hover h3 {
  color: var(--accent);
}

.project-card:hover .tech-list {
  color: var(--titles);
}

.proj-btn-container {
  color: var(--main);
  font-size: 3rem;
  line-height: 0;
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

.project-card h3 {
  font-size: 3rem;
  padding-top: 5rem;
  text-align: left;
}

.project-card p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
  width: 100%;
}

.tech-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  font-family: "Overpass Mono", serif;
  font-weight: 400;
  padding-bottom: 1rem;
  margin-top: auto;
}

.see-more-btn {
  display: inline-flex;
  color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 40px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 0.3rem 2rem;
  transition: all 0.5s ease;
  text-wrap: nowrap;
  user-select: none;
  -webkit-user-drag: none;
}

.see-more-btn:hover {
  background-color: var(--accent);
  color: var(--background);
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: translateY(-5px);
}

/* ---------- Footer ---------- */
.footer {
  background-color: #0d1424d2;
  padding: 20px 0;
  user-select: none;
  -webkit-user-drag: none;
}

.footer .social {
  text-align: center;
  background-color: #0d1424d2;
}

.footer .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid var(--main);
  border-radius: 50%;
  color: var(--main);
  margin: 2rem 0.5rem;
  transition: 0.3s ease-in-out;
  -webkit-user-drag: none;
  user-select: none;
}

.footer .social a:hover {
  color: var(--titles);
  border: 2px solid var(--titles);
}

.footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}

.footer ul li a {
  color: var(--main);
  border-bottom: 3px solid transparent;
  transition: 0.3 ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
}

.footer ul li a:hover {
  transition: 0.3s ease-in-out;
  color: var(--titles);
}

.footer .copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  user-select: none;
  -webkit-user-drag: none;
}

@media(max-width:768px){

  html {
    font-size: 50% !important;
  }

  section {
    padding: 6rem 4rem;
  }

  .nav-cv-button {
    position: fixed;
    top: 2rem;
    left: 2rem;
  
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 40px;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.3rem 2rem;
    background-color: transparent;
    white-space: nowrap;
    max-width: fit-content;
  
    cursor: pointer;
    z-index: 1050;
  
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-cv-button:hover {
    background-color: var(--accent);
    color: var(--background);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  }

  #menu-icon {
    display: block;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1100;
    cursor: pointer;
    font-size: 6rem;
    align-items: center;
    top: 1rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--background-darker);
    backdrop-filter: blur(10px);
    padding: 4rem 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: var(--background-darker);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    flex-direction: column;
    display: flex;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: none;
  }

  nav ul li a {
    display: block;
    font-size: 2rem;
    margin: 0rem 0;
    color: var(--titles);
    animation-delay: 0s !important;
    transition-delay: 0s !important;
  }

  nav ul li{
    display: flex;
    flex-direction: column;
  }

  nav ul li:first-child {
    margin-top: 5rem;
  }

  nav.active{
    display: block;
    transform: translateX(0);
  }

  nav-cv-button {
    display: none;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }

  .home-text {
    align-items: center;
    text-align: center;
  }

  .home-img img {
    width: 56 wv;
  }

  .about {
    flex-direction: column-reverse;
  }

  .tabbed-interface {
    flex-direction: column;
    align-items: stretch;
  }

  .tabs {
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .tab {
    font-size: 1.8rem;
    text-align: center;
    flex: 1;
    border-left: none;
    border-bottom: 2px solid var(--main);
  }

  .tab.active {
    border-bottom: 3px solid var(--accent);
    border-left: none;
  }

  .projects-container {
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 2rem;
  }
  
  .project-card {
    padding: 4rem 3rem 3rem;
    width: 100%;
    max-width: 90vw;
  }
  
  .project-card h3 {
    font-size: 3rem;
    padding-top: 4rem;
  }
  
  .project-card p {
    font-size: 2rem;
    line-height: 2;
  }
  
  .tech-list {
    font-size: 1.5rem;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .proj-btn-container {
    font-size: 5rem;
    top: 3rem;
    right: 3rem;
  }

  .see-more-btn {
    margin-top: 3rem;
  }
}